<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="testList" thread-count="4">
   <test name="myTest">
     <classes>
            <class name="com.perfectomobile.BuildDeviesList"/>
            <class name="com.perfectomobile.NativeExe"/>
       <!--  <class name="com.perfectomobile.DomExe"/>-->
      </classes>
 </test>
</suite>
